/* Container for whole page */
.container
{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: ghostwhite;
    margin: 2%;
    justify-content: space-between;
}

/* Title for Page */
.h1
{
    flex: 1;
    align-self: center;
    margin: 1%;
    text-align: center;
}

/* Navigation Bar */
.navBar
{
    display: flex;
    flex: 2;
    background-color:white;
}

/* Navbar Links */
.navBarLink
{
    flex: 1;
    text-decoration: none;
    font-weight: bolder;
    color: gray;
    font-size: large;
    padding: 1%;
    text-align: center;
    
}

/* Active Page link */
.active
{
    background-color: #1C86EE;
    color: white;
}

/* Hovered Page Link */
.navBarLink:hover
{
    color: black;
}

/* General Button styling */
.button
{
    height: 8%;
    align-self: center;
    width: 20%;
    font-weight: bold;
    color: white;
    background-color:  #1C86EE;
    padding: 0.5%;
    border-radius: 5px;
    border: none;
}

.h2
{
    flex: 2;
    margin: 1%;
    text-align: center;
}


.footer
{
    justify-self: flex-end;
}