/* Container for whole page */
.container
{
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    margin-top: 1%;
    border-radius: 5px;
}

.headerDiv
{
    background-color: #afafaf ;
}

/* Title for Page */
.h1
{
    flex: 1;
    align-self: center;
    margin: 0.5%;
    text-align: center;
    color: white;
}

/* Navigation Bar */
.navBar
{
    display: flex;
    flex: 2;
    background-color:white;
}

/* Navbar Links */
.navBarLink
{
    flex: 1;
    text-decoration: none;
    font-weight: bolder;
    color: gray;
    font-size: large;
    padding: 1%;
    text-align: center;
    margin: 0%;
    
}

/* Active Page link */
.active
{
    background-color: #afafaf;
    color: white;
    margin: 0%;
}

/* Hovered Page Link */
.navBarLink:hover
{
    color: black;
    background-color: white;
}

/* General Button styling */
.h2
{
    flex: 2;
    margin: 1%;
    text-align: center;
}


.footer
{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    align-items: flex-start;
    padding: 1%;
    padding-left: 2%;
    background-color: #afafaf;
    border-top: solid 5px black;

}

.footerEmail
{   
    font-size: medium;
    font-weight: bold;
    padding: 0%;
    margin:0%;
    margin-bottom: 0.5%;
    color: black;
}

.footerTitle
{
    padding: 0%;
    margin:0%;
    margin-bottom: 1%;
    color: black;
}

.footerMobile
{
    font-size: medium;
    font-weight: bold;
    padding: 0%;
    margin:0%;
    color: black;
}
