.about
{
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 5%;
    border:solid 2px #afafaf;
    width: 70%;
    align-self: center;
    border-radius: 2px;
    background-color: white;
}

.aboutText
{
    margin: 1%;
    padding: 0%;
    font-weight:bold;
}

.h3
{
    flex: 2;
    margin: 1%;
    text-align: center;
}

.viewerDiv
{
    height: 100%;
    width: 70%;
    align-self: center;
}

.eachSlide div
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: cover;
    height: 500px;
    border-radius: 2px;
    border: solid 2px #afafaf;
}

.eachSlide span
{
    padding: 10px;
    font-size: 20px;
    background: #33383e;
    color: white;
    font-weight: bolder;
    
}
