.projectDiv
{
    background-color: white;
    padding: 1%;
    margin: 2%;
    border:solid 2px white;
    align-self: center;
    border-radius: 2px;

}


.projectsBody
{
    display: flex;
    flex-direction: column;
    width: 80%;
    background-color: #afafaf;
    padding: 1%;
    margin: 2%;
    border:solid 2px #afafaf;
    align-self: center;
    border-radius: 2px;
}

.halfDiv
{
    display: flex;
    flex-direction: row;
}

.filterText
{
    margin: 1%;
    padding: 0%;
}

.filterTitle
{
    text-align: center;
    margin: 1%;
}

.filterDiv
{
    background-color: white;
    padding: 1%;
    margin: 2%;
    border:solid 2px #afafaf;
    align-self: center;
    border-radius: 2px;
    width: 50%;
    display: flex;
    flex-direction: column;

}

.linkText
{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    text-decoration: underline;
    font-weight: bolder;
    width: 15%;
    margin-top:1%;
}

.linkDiv
{
    display: flex;
    flex-direction: column;
}

.loadingTitle
{
    text-align: center;
    margin: 1%;
    color: white;
}


